.logo{
    width: 40%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
/*Header */
header{
    text-align: center;
}
/*Navigation bar */
.current{
    color: black;
}

nav ul{
    background-color: cadetblue;
    border-bottom: 2px solid black;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav ul li {
    float: left;

    width: 20%;
}

nav ul li a {
    color: white;
    display: inline-block;
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;

    width: 100%;
}

nav ul li a:hover, .dropdown:hover, .dropdown-content a:hover{
    background-color: dodgerblue;
}

nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown{
    border: none;
}

/*Text elments */
h1{
    color: white;
    font-family: 'open sans', sans-serif;
    text-align: center;
}

/*Content box*/
.content_box{
    background-color: steelblue;
    flex-direction: column;
    flex: 1 0 auto;
}

/*Order_assembly form */
.content_horizontal{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

/*Order_assembly form left side */
.content_box_left{
    flex-direction: column;
    width:50%;
}
.content_box_left fieldset{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
}

/*Order_assembly form right side */
.content_box_right{
    display: flex;
    flex-direction: column;
    width:50%;
}

.content_box_right .orders{
    display: flex;
    flex-direction: row;
}

.content_box_right .top{
    display: flex;
    flex-direction: column;
}

.content_box_right  .left{
    margin-left: 23%;
}
/*Order_assembly from right side price total*/
.content_box_right .price_total{
    display: flex;
    flex-direction: row;
}

.content_box_right .price_total .colum{
    display: flex;
    flex-direction: column;
}


/*Order_assembly bottom buttons */
.content_box_button{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button{
    color: white;
    background-color: lightsteelblue;
    border: solid lightsteelblue 2px;
    font-family: 'open sans', sans-serif;
    font-weight: bold;
}

.content_box_right .button,.content_box_right label,.content_box_right input{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*This is for the disabled fields*/
.disabled{
    background-color: lightgray;
}


/*Form */
form{
    flex-direction: column;
    display: flex;
    color: white;
    font-family: 'open sans', sans-serif;
    justify-content: center;
}

form fieldset{
    border: none;
}

.search_invoice label, .search_invoice select, .search_invoice fieldset input{
    display: flex;


}

.search_invoice .button{
    margin: 0;
}

.search_invoice fieldset{
    display: flex;
    flex-direction: column;
    margin-left: 46%;
}

/*Table */
.table{
    display: flex;
    justify-content: center;
}

table {
    font-family: 'open sans', sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-bottom: 10px;
}

th, td {
    color: white;
    font-family: 'open sans', sans-serif;
    border: 2px solid dimgray;
    text-align: center;
}

th{
    background-color: lightgray;
    padding: 4px;
}

td{
    background-color: darkgray;
    padding: 8px;
}

/*Button box (div)*/
.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Footer*/
html, body{
    height: 100%;
}

footer{
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: cadetblue;
    border-top: 2px solid black;
    padding: 16px;
}

